body {
  font-family: "Cambria Math", serif;
  background-color:whitesmoke;
}
mark {
    background-color: greenyellow;
}

.tab_1 td {
    border-style: solid;
    border-color: gold;
     border-width: 4pt;
     border-radius: 3pt;
     background-color:gold;
     text-align: center;
     }
.tab_1 td:hover {
 background-color:coral;
}
.tab_2 td {
    border-style: solid;
    border-color: chartreuse;
    border-width: 4pt;
    border-radius: 3pt;
    background-color: chartreuse;
    text-align: center;
}
.tab_2 td:hover {
    background-color: coral;
}
.tab_3 td {
border-style: solid;
    border-color:lightseagreen;
    border-width: 4pt;
    border-radius: 3pt;
    background-color: lightseagreen;
    text-align: center;
}
.tab_3 td:hover {
    background-color: coral;
}
.tab_4 td {
border-style: solid;
    border-color:cornflowerblue;
    border-width: 4pt;
    border-radius: 3pt;
    background-color: cornflowerblue;
    text-align: center;
}
.tab_4 td:hover {
    background-color: coral;
}
.tab_5 td {
border-style: solid;
    border-color:deepskyblue;
    border-width: 4pt;
    border-radius: 3pt;
    background-color: deepskyblue;
    text-align: center;
}
.tab_5 td:hover {
    background-color: coral;
}
.tab_6 td {
border-style: solid;
    border-color:lightsalmon;
    border-width: 4pt;
    border-radius: 3pt;
    background-color: lightsalmon;
    text-align: center;
}
.tab_6 td:hover {
    background-color: coral;
}
.tab_7 td {
border-style: solid;
    border-color:sandybrown;
    border-width: 4pt;
    border-radius: 3pt;
    background-color: sandybrown;
    text-align: center;
}
.tab_7 td:hover {
    background-color: coral;
}
 header {
            background-color: black;
            color: white;
            padding: 10px;
            text-align: center;
        }
        nav {
            background:red;
            padding: 10px;
            text-align: center;
        }
        nav a {
            color: black;
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
        }
         footer {
            background:gold;
            color:black;
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

 .intro {
            text-align: justify;
        }
        img {
            width: 200px;
            height: 200px;
        }
        a {
            text-align: center;
        }
        div {
  float: left;
  padding: 3px; 
}
.Book_1 {
    background-color:grey;
}
.Book_2 {
    background-color: grey;
}

